* {
    margin: 0;
    padding: 0;
}

.userForm input {
    padding: 10px;
    width: 40%;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

.userForm button {
    padding: 10px;
    font-family: "Poppins", sans-serif;
    background-color: #FDE66C;
    border: none;
    border-radius: 10px;
}

.userForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 100px;
}

.userForm h1 {
    font-size: 64px;
}

.indexBody {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #747474;
}

#startQuiz__button {
    padding: 10px;
    border-radius: 10px;
    background-color: #FDE66C;
    border: none;
    font-size: 24px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    margin: 25px;
}

.instructions h1 {
    font-size: 48px;
}

.instructions {
    text-align: center;
}

.instructions div {
    text-align: left;
    margin: 50px;
}

.quizSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quizSection main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 100px;
    font-size: 30px;
}

.quizSection h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.quizSection input {
    width: 20px;
    height: 20px;
}

.quizSection h2{
    color: darkred;
    position: fixed;
    right: 5px;
    top: 5px;
}

.quizSection button {
    padding: 10px;
    border-radius: 10px;
    background-color: #FDE66C;
    border: none;
    font-weight: bolder;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.quizButtons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.resultPage h1 {
    font-size: 64px;
    margin: 50px;
}

.resultPage p {
    font-size: 32px;
    color: #FDE66C;
}

.resultPage {
    text-align: center;
    width: 50%;
}

.result {
    display: flex;
    justify-content: center;
}

.answerPage {
    display: flex;
    justify-content: center;
}

.answerPage h1 {
    font-size: 36px;
}

.answerPage h2 {
    font-size: 56px;
    margin-bottom: 25px;
}

.answerPage p {
    font-size: 24px;
    margin-bottom: 25px;
}

.answerPage h4 {
    color: #FDE66C;
    font-size: 24px;
    margin-bottom: 25px;
}

#showans {
    margin-top: 50px;
    padding: 15px;
}

#result__btn {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: none;
    margin-top: 25px;
    font-weight: bolder;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 700px) {
    .userForm h1 {
        font-size: 48px;
    }

    .userForm {
        margin-top: 200px;
    }

    .quizSection main {
        margin: 15px;
        margin-top: 100px;
        align-items: center;
    }

    .resultPage{
        width: 90%;
        word-wrap: break-word;
    }

    #showans{
        margin-top: 25px;
    }

    .answerPage h1 {
        font-size: 24px;
    }
    
    .answerPage h2 {
        font-size: 36px;
    }
    
    .answerPage h4 {
        font-size: 18px;
        font-weight: 600;
    }
}